/* screen - explore-map-places-identified */

.explore-map-places-identified {
  align-items: flex-start;
  background-color: var(--gold);
  display: flex;
  height: 1117px;
  overflow: hidden;
  width: 1728px;
}

.explore-map-places-identified .overlap-group7 {
  height: 1132px;
  margin-top: -15px;
  position: relative;
  width: 1771px;
}

.explore-map-places-identified .overlap-group-1 {
  height: 58px;
  left: 1370px;
  position: absolute;
  top: 498px;
  width: 56px;
}

.explore-map-places-identified .group-26 {
  background-color: var(--alto);
  border: 6px solid;
  border-color: var(--amber);
  border-radius: 25.58px;
  height: 51px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 51px;
}

.explore-map-places-identified .iconuser {
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 56px;
}

.explore-map-places-identified .ellipse-17 {
  background-color: #ffbf0033;
  border-radius: 74.5px;
  height: 149px;
  left: 1272px;
  position: absolute;
  top: 467px;
  width: 149px;
}

.explore-map-places-identified .rectangle {
  background-color: var(--black);
  height: 1117px;
  left: 43px;
  position: absolute;
  top: 12px;
  width: 1728px;
}

.explore-map-places-identified .title {
  color: var(--white);
  font-weight: 900;
  left: 30px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 623px;
}

.explore-map-places-identified .rectangle-1 {
  background-color: var(--black);
  height: 1117px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 1728px;
}

.explore-map-places-identified .rectangle-5 {
  background-color: #76767633;
  height: 982px;
  left: 30px;
  position: absolute;
  top: 115px;
  width: 657px;
}

.explore-map-places-identified .image-1 {
  height: 1117px;
  left: 687px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 1041px;
}

.explore-map-places-identified .paths-to-power {
  color: var(--white);
  font-weight: 900;
  left: 30px;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 623px;
}

.explore-map-places-identified .spotlight-on-black-w {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 600;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 129px;
  width: 401px;
}

.explore-map-places-identified .line-4 {
  height: 1px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 210px;
  width: 614px;
}

.explore-map-places-identified .name {
  color: var(--white);
  font-weight: 600;
  left: 282px;
  line-height: normal;
  position: absolute;
  top: 254px;
  white-space: nowrap;
  width: 276px;
}

.explore-map-places-identified .name-1 {
  color: var(--white);
  font-weight: 600;
  left: 287px;
  top: 546px;
  white-space: nowrap;
  width: 225px;
}

.explore-map-places-identified .name-2 {
  color: var(--white);
  font-weight: 600;
  left: 282px;
  top: 831px;
  white-space: nowrap;
  width: 354px;
}

.explore-map-places-identified .group-container {
  height: 228px;
  left: 44px;
  position: absolute;
  top: 222px;
  width: 222px;
}

.explore-map-places-identified .overlap-group-2 {
  height: 228px;
  left: 0;
  position: absolute;
  top: 0;
  width: 222px;
}

.explore-map-places-identified .ellipse-1-1 {
  background-color: var(--alto);
  border: 6px solid;
  border-color: var(--gold);
  border-radius: 101.16px;
  height: 202px;
  left: 9px;
  position: absolute;
  top: 14px;
  width: 202px;
}

.explore-map-places-identified .iconuser-1 {
  height: 228px;
  width: 222px;
}

.explore-map-places-identified .group-23-1 {
  background-image: url(../img/image-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 190px;
  left: 17px;
  position: absolute;
  top: 19px;
  width: 187px;
}

.explore-map-places-identified .group-container-1 {
  left: 1142px;
  top: 631px;
}

.explore-map-places-identified .overlap-group-3 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 51px;
}

.explore-map-places-identified .ellipse-1 {
  background-color: var(--alto);
  border: 6px solid;
  border-color: var(--gold);
  border-radius: 23.1px;
  height: 46px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 46px;
}

.explore-map-places-identified .iconuser-2 {
  height: 52px;
  width: 51px;
}

.explore-map-places-identified .group-23 {
  background-image: url(../img/image-2-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 43px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 43px;
}

.explore-map-places-identified .group-container-2 {
  left: 1359px;
  top: 584px;
}

.explore-map-places-identified .overlap-group-4 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 51px;
}

.explore-map-places-identified .iconuser-3 {
  height: 52px;
  width: 51px;
}

.explore-map-places-identified .group-container-3 {
  left: 1293px;
  top: 702px;
}

.explore-map-places-identified .overlap-group-5 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 51px;
}

.explore-map-places-identified .iconuser-4 {
  height: 52px;
  width: 51px;
}

.explore-map-places-identified .line-41 {
  height: 46px;
  left: 1189px;
  position: absolute;
  top: 613px;
  width: 174px;
}

.explore-map-places-identified .line-42 {
  height: 85px;
  left: 1331px;
  position: absolute;
  top: 628px;
  width: 44px;
}

.explore-map-places-identified .line-49 {
  height: 54px;
  left: 1184px;
  position: absolute;
  top: 669px;
  width: 115px;
}

.explore-map-places-identified .overlap-group5 {
  height: 228px;
  left: 49px;
  position: absolute;
  top: 514px;
  width: 222px;
}

.explore-map-places-identified .overlap-group-6 {
  height: 228px;
  left: 0;
  position: absolute;
  top: 0;
  width: 222px;
}

.explore-map-places-identified .ellipse-2 {
  background-color: var(--alto);
  border: 6px solid;
  border-color: var(--gold);
  border-radius: 101.12px;
  height: 202px;
  left: 9px;
  position: absolute;
  top: 12px;
  width: 202px;
}

.explore-map-places-identified .iconuser-5 {
  height: 228px;
  width: 222px;
}

.explore-map-places-identified .image-3 {
  height: 191px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 185px;
}

.explore-map-places-identified .overlap-group6 {
  height: 228px;
  left: 44px;
  position: absolute;
  top: 807px;
  width: 222px;
}

.explore-map-places-identified .overlap-group-7 {
  height: 228px;
  left: 0;
  position: absolute;
  top: 0;
  width: 222px;
}

.explore-map-places-identified .group-26-1 {
  background-color: var(--alto);
  border: 6px solid;
  border-color: var(--gold);
  border-radius: 101.12px;
  height: 202px;
  left: 9px;
  position: absolute;
  top: 12px;
  width: 202px;
}

.explore-map-places-identified .iconuser-6 {
  height: 228px;
  width: 222px;
}

.explore-map-places-identified .image-4 {
  height: 182px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 185px;
}

.explore-map-places-identified .name-3 {
  color: var(--white);
  font-weight: 400;
  left: 282px;
  top: 296px;
  width: 378px;
}

.explore-map-places-identified .name-4 {
  color: var(--white);
  font-weight: 400;
  left: 285px;
  top: 588px;
  width: 378px;
}

.explore-map-places-identified .name-5 {
  color: var(--white);
  font-weight: 400;
  left: 282px;
  top: 873px;
  width: 378px;
}

.explore-map-places-identified .image-5 {
  height: 1115px;
  left: 671px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 1057px;
}

.explore-map-places-identified .vector-11 {
  height: 174px;
  left: 1075px;
  position: absolute;
  top: 336px;
  width: 284px;
}

.explore-map-places-identified .vector-12 {
  height: 33px;
  left: 1280px;
  position: absolute;
  top: 541px;
  width: 9px;
}

.explore-map-places-identified .brooklyn-new-york {
  color: var(--amber);
  font-weight: 900;
  left: 49px;
  line-height: normal;
  position: absolute;
  top: 145px;
  white-space: nowrap;
  width: 499px;
}

.explore-map-places-identified .paths-to-power-1 {
  color: var(--amber);
  font-weight: 900;
  left: 44px;
  line-height: normal;
  position: absolute;
  top: 41px;
  white-space: nowrap;
  width: 623px;
}

.explore-map-places-identified .vector-8 {
  height: 382px;
  left: 1136px;
  position: absolute;
  top: 547px;
  width: 274px;
}

.explore-map-places-identified .vector-9 {
  height: 138px;
  left: 1235px;
  position: absolute;
  top: 430px;
  width: 15px;
}

.explore-map-places-identified .vector-10 {
  height: 10px;
  left: 1260px;
  position: absolute;
  top: 523px;
  width: 66px;
}

.explore-map-places-identified .vector-14 {
  height: 15px;
  left: 1244px;
  position: absolute;
  top: 477px;
  width: 112px;
}

.explore-map-places-identified .vector-15 {
  height: 94px;
  left: 1037px;
  position: absolute;
  top: 460px;
  width: 102px;
}

.explore-map-places-identified .vector-16 {
  height: 152px;
  left: 1454px;
  position: absolute;
  top: 439px;
  width: 274px;
}

.explore-map-places-identified .vector-17 {
  height: 349px;
  left: 686px;
  position: absolute;
  top: 117px;
  width: 358px;
}

.explore-map-places-identified .vector-18 {
  height: 111px;
  left: 1252px;
  position: absolute;
  top: 956px;
  width: 90px;
}

.explore-map-places-identified .vector-19 {
  height: 114px;
  left: 1230px;
  position: absolute;
  top: 314px;
  width: 135px;
}

.explore-map-places-identified .vector-20 {
  height: 83px;
  left: 1333px;
  position: absolute;
  top: 233px;
  width: 395px;
}

.explore-map-places-identified .vector-21 {
  height: 493px;
  left: 1352px;
  position: absolute;
  top: 579px;
  width: 143px;
}

.explore-map-places-identified .vector {
  height: 126px;
  left: 447px;
  position: absolute;
  top: 34px;
  width: 135px;
}

.explore-map-places-identified .image-18 {
  height: 75px;
  left: 1001px;
  object-fit: cover;
  position: absolute;
  top: 385px;
  width: 75px;
}

.explore-map-places-identified .image-19 {
  height: 75px;
  left: 1401px;
  object-fit: cover;
  position: absolute;
  top: 545px;
  width: 75px;
}

.explore-map-places-identified .image-16 {
  height: 75px;
  left: 1210px;
  object-fit: cover;
  position: absolute;
  top: 302px;
  width: 75px;
}

.explore-map-places-identified .image-11 {
  height: 75px;
  left: 1300px;
  object-fit: cover;
  position: absolute;
  top: 498px;
  width: 75px;
}

.explore-map-places-identified .image-23 {
  height: 71px;
  left: 1122px;
  object-fit: cover;
  position: absolute;
  top: 521px;
  width: 71px;
}

.explore-map-places-identified .image-24 {
  height: 80px;
  left: 1445px;
  object-fit: cover;
  position: absolute;
  top: 661px;
  width: 80px;
}

.explore-map-places-identified .image-17 {
  height: 75px;
  left: 1318px;
  object-fit: cover;
  position: absolute;
  top: 423px;
  width: 74px;
}

.explore-map-places-identified .top-panel {
  align-items: flex-end;
  display: flex;
  gap: 15px;
  height: 32px;
  justify-content: flex-end;
  left: 1293px;
  min-width: 417px;
  padding: 0 7.0px;
  position: absolute;
  top: 52px;
}

.explore-map-places-identified .header-auth {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 41px;
  margin-bottom: -9px;
  position: relative;
  width: 129px;
}

.explore-map-places-identified .button {
  align-items: center;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  justify-content: center;
  margin-bottom: -1.50px;
  margin-top: -1.50px;
  overflow: hidden;
  padding: 8px;
  position: relative;
}

.explore-map-places-identified .button-1 {
  color: var(--cultured-pearl);
  font-weight: 600;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.explore-map-places-identified .header-auth-1 {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 41px;
  margin-bottom: -9px;
  position: relative;
  width: 176px;
}

.explore-map-places-identified .button-2 {
  color: var(--cultured-pearl);
  font-weight: 600;
  line-height: normal;
  margin-left: -0.23px;
  margin-right: -0.23px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.explore-map-places-identified .button-3 {
  align-items: center;
  background-color: var(--amber);
  border: 1px solid;
  border-color: var(--heavy-metal);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  height: 39px;
  justify-content: center;
  left: 1502px;
  overflow: hidden;
  padding: 12px;
  position: absolute;
  top: 1069px;
  width: 202px;
}

.explore-map-places-identified .button-4 {
  color: var(--eerie-black);
  font-weight: 600;
  line-height: normal;
  margin-bottom: -5.50px;
  margin-top: -7.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.explore-map-places-identified .scroll::-webkit-scrollbar {
  display: none;
  width: 0;
}

.explore-map-places-identified .scroll {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 892px;
  left: 53px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 211px;
  width: 530px;
}

.explore-map-places-identified .overlap-group3 {
  height: 290px;
  margin-left: -5px;
  position: relative;
  width: 535px;
}

.explore-map-places-identified .rectangle-27 {
  height: 274px;
  left: 0;
  position: absolute;
  top: 0;
  width: 535px;
}

.explore-map-places-identified .address {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 225px;
}

.explore-map-places-identified .name-6 {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  top: 87px;
  width: 270px;
}

.explore-map-places-identified .group-90 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19px;
  left: 29px;
  min-height: 270px;
  position: absolute;
  top: 19px;
  width: 361px;
}

.explore-map-places-identified .image-22 {
  height: 165px;
  margin-left: 1px;
  object-fit: cover;
  width: 167px;
}

.explore-map-places-identified .overlap-group-8 {
  height: 86px;
  position: relative;
  width: 359px;
}

.explore-map-places-identified .rectangle-26 {
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
}

.explore-map-places-identified .name-7 {
  color: var(--amber);
  font-weight: 600;
  left: 17px;
  text-shadow: 0px 4px 4px #00000040;
  top: 12px;
  width: 342px;
}

.explore-map-places-identified .overlap-group1 {
  height: 289px;
  margin-left: -5px;
  margin-top: 12px;
  position: relative;
  width: 535px;
}

.explore-map-places-identified .ps-22 {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 225px;
}

.explore-map-places-identified .name-8 {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  top: 69px;
  width: 270px;
}

.explore-map-places-identified .image-21 {
  height: 174px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 174px;
}

.explore-map-places-identified .overlap-group-9 {
  height: 84px;
  left: 37px;
  position: absolute;
  top: 205px;
  width: 373px;
}

.explore-map-places-identified .name-9 {
  color: var(--amber);
  font-weight: 600;
  left: 31px;
  text-shadow: 0px 4px 4px #00000040;
  top: 9px;
  width: 342px;
}

.explore-map-places-identified .overlap-group2 {
  height: 279px;
  margin-left: -5px;
  margin-top: 11px;
  position: relative;
  width: 535px;
}

.explore-map-places-identified .name-10 {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  top: 26px;
  white-space: nowrap;
  width: 225px;
}

.explore-map-places-identified .name-11 {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  top: 81px;
  width: 270px;
}

.explore-map-places-identified .overlap-group-10 {
  height: 84px;
  left: 31px;
  position: absolute;
  top: 195px;
  width: 354px;
}

.explore-map-places-identified .name-12 {
  color: var(--amber);
  font-weight: 600;
  left: 12px;
  text-shadow: 0px 4px 4px #00000040;
  top: 9px;
  width: 342px;
}

.explore-map-places-identified .image-27 {
  height: 166px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 166px;
}

.explore-map-places-identified .overlap-group5-1 {
  height: 289px;
  margin-left: -5px;
  margin-top: 25px;
  position: relative;
  width: 535px;
}

.explore-map-places-identified .club-1149 {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 225px;
}

.explore-map-places-identified .shirleys-husband-co {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  line-height: normal;
  position: absolute;
  top: 69px;
  width: 270px;
}

.explore-map-places-identified .overlap-group-11 {
  height: 84px;
  left: 37px;
  position: absolute;
  top: 205px;
  width: 359px;
}

.explore-map-places-identified .name-13 {
  color: var(--amber);
  font-weight: 600;
  left: 17px;
  text-shadow: 0px 4px 4px #00000040;
  top: 9px;
  width: 342px;
}

.explore-map-places-identified .image-21-1 {
  height: 170px;
  left: 40px;
  width: 174px;
}

.explore-map-places-identified .overlap-group {
  height: 289px;
  margin-left: -5px;
  margin-top: 15px;
  position: relative;
  width: 535px;
}

.explore-map-places-identified .bellrose-ballroom {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 225px;
}

.explore-map-places-identified .the-site-of-shirley {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  line-height: normal;
  position: absolute;
  top: 69px;
  width: 270px;
}

.explore-map-places-identified .rectangle-26-1 {
  height: 42px;
  left: 37px;
  position: absolute;
  top: 205px;
  width: 180px;
}

.explore-map-places-identified .name-14 {
  color: var(--amber);
  font-weight: 600;
  left: 56px;
  text-shadow: 0px 4px 4px #00000040;
  top: 214px;
  width: 342px;
}

.explore-map-places-identified .image-21-2 {
  height: 172px;
  left: 33px;
  width: 177px;
}

.explore-map-places-identified .concord-baptist-church {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 225px;
}

.explore-map-places-identified .name-15 {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  top: 69px;
  width: 270px;
}

.explore-map-places-identified .overlap-group-12 {
  height: 84px;
  left: 37px;
  position: absolute;
  top: 205px;
  width: 372px;
}

.explore-map-places-identified .name-16 {
  color: var(--amber);
  font-weight: 600;
  left: 30px;
  text-shadow: 0px 4px 4px #00000040;
  top: 9px;
  width: 342px;
}

.explore-map-places-identified .iconchevron-down {
  height: 30px;
  left: 318px;
  position: absolute;
  top: 1092px;
  width: 30px;
}

.explore-map-places-identified .group-container-4 {
  height: 52px;
  position: absolute;
  width: 51px;
}

.explore-map-places-identified .iconuser-7 {
  left: 0;
  position: absolute;
  top: 0;
}

.explore-map-places-identified .image-21-3 {
  object-fit: cover;
  position: absolute;
  top: 18px;
}

.explore-map-places-identified .name-17 {
  line-height: normal;
  position: absolute;
}
