@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:900,600|Montserrat:900|Inter:400,600");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/673a6a3e2ebc197e5f3f4fcf.673a6a3f2ebc197e5f3f4fd2.a2K2GNI.hcp.png");


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.rectangle-29 {
  height: 589px;
  top: 161px;
  width: 574px;
}

.badges {
  align-items: flex-start;
  background-color: var(--status-color--warning);
  border-radius: 12px;
  display: flex;
  gap: 8px;
  left: 424px;
  padding: 4px 8px;
  position: absolute;
  top: 708px;
  width: 128px;
}

.badges-1 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.group-95 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 2px;
  min-height: 293px;
  position: absolute;
  top: 766px;
  width: 572px;
}

.explore-the-map {
  color: var(--amber);
  font-weight: 900;
  left: 31px;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 25px;
  width: 364px;
}

.arrow-right-circle {
  height: 54px;
  left: 480px;
  position: absolute;
  top: 14px;
  width: 58px;
}

.rectangle-2 {
  height: 81px;
  top: 0;
  width: 570px;
}

.upcoming-events {
  color: var(--amber);
  font-weight: 900;
  left: 31px;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 19px;
  width: 364px;
}

.arrow-right-circle-1 {
  height: 54px;
  left: 480px;
  position: absolute;
  top: 19px;
  width: 58px;
}

.add-to-the-map {
  color: var(--amber);
  font-weight: 900;
  left: 38px;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 19px;
  width: 428px;
}

.brooklyn-new-york {
  color: var(--amber);
  font-weight: 900;
  left: 5px;
  line-height: normal;
  position: absolute;
  top: 111px;
  white-space: nowrap;
  width: 499px;
}

.scroll::-webkit-scrollbar {
  display: none;
  width: 0;
}

.rectangle-27 {
  height: 274px;
  width: 535px;
}

.address {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 225px;
}

.name {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  line-height: normal;
  position: absolute;
  top: 87px;
  width: 270px;
}

.group-90 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19px;
  left: 29px;
  min-height: 270px;
  position: absolute;
  top: 19px;
  width: 361px;
}

.image-22 {
  height: 165px;
  margin-left: 1px;
  object-fit: cover;
  width: 167px;
}

.overlap-group-1 {
  height: 86px;
  position: relative;
  width: 359px;
}

.rectangle-26 {
  height: 42px;
  width: 180px;
}

.name-1 {
  color: var(--amber);
  font-weight: 600;
  left: 17px;
  text-shadow: 0px 4px 4px #00000040;
  top: 12px;
  width: 342px;
}

.ps-22 {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 225px;
}

.name-2 {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  top: 69px;
  width: 270px;
}

.image-21 {
  height: 174px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 174px;
}

.overlap-group-2 {
  height: 84px;
  left: 37px;
  position: absolute;
  top: 205px;
  width: 373px;
}

.name-3 {
  color: var(--amber);
  font-weight: 600;
  left: 31px;
  text-shadow: 0px 4px 4px #00000040;
  top: 9px;
  width: 342px;
}

.name-4 {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  top: 26px;
  white-space: nowrap;
  width: 225px;
}

.name-5 {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  top: 81px;
  width: 270px;
}

.overlap-group-3 {
  height: 84px;
  left: 31px;
  position: absolute;
  top: 195px;
  width: 354px;
}

.name-6 {
  color: var(--amber);
  font-weight: 600;
  left: 12px;
  text-shadow: 0px 4px 4px #00000040;
  top: 9px;
  width: 342px;
}

.image-27 {
  height: 166px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 166px;
}

.shirleys-husband-co {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  line-height: normal;
  position: absolute;
  top: 69px;
  width: 270px;
}

.overlap-group-4 {
  height: 84px;
  left: 37px;
  position: absolute;
  top: 205px;
  width: 359px;
}

.name-7 {
  color: var(--amber);
  font-weight: 600;
  left: 17px;
  text-shadow: 0px 4px 4px #00000040;
  top: 9px;
  width: 342px;
}

.image-21-1 {
  height: 170px;
  left: 40px;
  width: 174px;
}

.bellrose-ballroom {
  color: var(--white);
  font-weight: 600;
  left: 238px;
  line-height: normal;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 225px;
}

.the-site-of-shirley {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  line-height: normal;
  position: absolute;
  top: 69px;
  width: 270px;
}

.rectangle-26-1 {
  height: 42px;
  left: 37px;
  position: absolute;
  top: 205px;
  width: 180px;
}

.name-8 {
  color: var(--amber);
  font-weight: 600;
  left: 56px;
  text-shadow: 0px 4px 4px #00000040;
  top: 214px;
  width: 342px;
}

.image-21-2 {
  height: 172px;
  left: 33px;
  width: 177px;
}

.name-9 {
  color: var(--white);
  font-weight: 400;
  left: 239px;
  top: 69px;
  width: 270px;
}

.overlap-group-5 {
  height: 84px;
  left: 37px;
  position: absolute;
  top: 205px;
  width: 372px;
}

.name-10 {
  color: var(--amber);
  font-weight: 600;
  left: 30px;
  text-shadow: 0px 4px 4px #00000040;
  top: 9px;
  width: 342px;
}

.iconchevron-down {
  height: 30px;
  left: 265px;
  position: absolute;
  top: 881px;
  width: 30px;
}

.button-4 {
  color: var(--eerie-black);
  font-weight: 600;
  line-height: normal;
  margin-bottom: -5.50px;
  margin-top: -7.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.image-21-3 {
  object-fit: cover;
  position: absolute;
  top: 18px;
}

.name-11 {
  line-height: normal;
  position: absolute;
}
