:root { 
    --amber: #ffbf00;
    --black: #000000;
    --cultured-pearl: #f5f5f5;
    --eerie-black: #1e1e1e;
    --heavy-metal: #2c2c2c;
    --status-color--warning: #ffc107;
    --white: #ffffff;
   
    --font-size-l: 36px;
    --font-size-m: 24px;
    --font-size-s: 20px;
    --font-size-xl: 40px;
    --font-size-xs: 16px;
    --font-size-xxl: 64px;
   
    --font-family-inter: "Inter", Helvetica;
    --font-family-montserrat: "Montserrat", Helvetica;
    --font-family-roboto: "Roboto", Helvetica;
    --font-family-roboto-medium: "Roboto-Medium", Helvetica;
    --font-family-roboto-regular: "Roboto-Regular", Helvetica;
  }
  .body2 {
    font-family: var(--font-family-roboto-regular);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .header {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0;
  }
  
  .larger-subtitle {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
  }
  
  .body1 {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
  }
  
  .header2 {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0;
  }
  
  .header3 {
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0;
  }
  
  .single-linebody-base {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
  }
  